<div class="row">
    {% for new_article in article_list %}
        <div class="news-list">
        <div class="news-img col-xs-5 col-sm-5 col-md-4"> <a target="_blank" href=""><img src="static/img/logo.jpg" alt=""> </a> </div>
        <div class="news-info col-xs-7 col-sm-7 col-md-8">
          <dl>
            <dt> <a href="{%url 'article-detail-view' new_article.id %}" target="_blank" > {{ new_article.title }} </a> </dt>
            <dd><span class="name">共 <strong>{{new_article.view_counter }}</strong> 人围观</span>
                <span class="identity"></span> <span class="time"> {{ new_article.create_time }} </span></dd>
            <dd class="text">{{ new_article.summary }}</dd>
          </dl>
          <div class="news_bot col-sm-7 col-md-8">
              <span class="tags visible-lg visible-md">
                  {% for tag in new_article.get_tags %}
                      <a href="">{{ tag }}</a>
                  {% endfor %}

              </span>
              <span class="look"><a href="{%url 'article-detail-view' new_article.id %}">
                  <button type="button" class="btn btn-sm btn-info">阅读全文</button></a>
              </span>
          </div>
        </div>
        </div>

    {% endfor %}


</div>